<div class="container">
    <img class="img-fluid d-flex justify-content-center border rounded" src="/assets/src/show-art.jpg" />
    <div>
        <br />
        <h3 class="text-center">{{ site.hostname | markdownify }}</h3>
        {{ site.description | markdownify }}
        <br />
        <h3 class="text-center">Subscribe</h3>
        <div class="row d-flex justify-content-center">
            <a class="p-1" href="https://podcasts.apple.com/us/podcast/mother-dearest-show/id1555151341"><img src="/assets/src/itunes-icon.svg" width="40px;" title="iTunes Podcasts" /></a>
            <a class="p-1" href="https://overcast.fm/itunes1555151341/mother-dearest-show"><img src="/assets/src/overcast-icon.svg" width="40px;" title="Overcast" /></a>
            <a class="p-1" href="https://pca.st/4pevaced"><img src="/assets/src/pocketcasts-icon.svg" width="40px;" title="Pocketcasts" /></a>
            <a class="p-1" href="https://open.spotify.com/show/66FF7RsAZdjUXjTupQl67g"><img src="/assets/src/spotify-icon.svg" width="40px;" title="Spotify" /></a>
            <a class="p-1" href="https://castro.fm/itunes/1555151341"><img src="/assets/src/castro-icon.svg" width="40px;" title="Castro" /></a>
            <a class="p-1" href="/podcast.rss"><img src="/assets/src/rss-icon.svg" width="40px;" title="Generall RSS Feed" /></a>
        </div>
        <br />
        <h3 class="text-center">Hosts</h3>
        <div class="row m-1">
            <div class="media">
                <a href="/assets/src/jacob-profile.jpeg"><img class="align-self-center mr-3 img-thumbnail" src="/assets/src/jacob-profile.jpeg" width="100px" /></a>
            </div>
            <div class="media-body">
                <p class="mt-0"><strong>Jacob Campbell</strong><br />
                <span><a href="https://jacobrcampbell.com"><a href=""><i class="fas fa-globe"></i> Website</a></span><br />
                <a href="https://twitter.com/campjacob?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @campjacob</a></p>
            </div>
        </div>
        <div class="row m-1" >
            <div class="media">
                <a href="/assets/src/judy-profile.jpeg"><img class="align-self-center mr-3 img-thumbnail" src="/assets/src/judy-profile.jpeg" width="100px" /></a>
            </div>
            <div class="media-body">
                <p class="mt-0"><strong>Judy Dirks</strong></p>
            </div>
        </div>

    </div>

</div>